.depicter-revert .depicter-3-element-17 {
    background-color: rgba(255, 255, 255, 0.5);
}

.depicter-3-element-17 .depicter-timer-bar {
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-72 {
    background-color: transparent;
}

.depicter-revert .depicter-3-element-72:not(.depicter-hover-off) {
    transition: all ease 0.3s;
}

.depicter-revert .depicter-3-element-72:not(.depicter-hover-off):hover {
    background-color: transparent;
}

.depicter-3-element-72 .depicter-arrow-icon {
    fill: #FFFFFF;
    transition: all ease 0.3s;
}

.depicter-3-element-72:not(.depicter-hover-off):hover .depicter-arrow-icon {
    fill: #FF4D4D;
}

.depicter-revert .depicter-3-element-73 {
    background-color: transparent;
}

.depicter-revert .depicter-3-element-73:not(.depicter-hover-off) {
    transition: all ease 0.3s;
}

.depicter-revert .depicter-3-element-73:not(.depicter-hover-off):hover {
    background-color: transparent;
}

.depicter-3-element-73 .depicter-arrow-icon {
    fill: #FFFFFF;
    transition: all ease 0.3s;
}

.depicter-3-element-73:not(.depicter-hover-off):hover .depicter-arrow-icon {
    fill: #FF4D4D;
}

.depicter-revert .depicter-3-element-11 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-12 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-13 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-20 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-19 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-18 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-10 {
    opacity: 0.7;
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-9 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-8 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-6 {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-5 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-4 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-3 {
    opacity: 0.1;
    backdrop-filter: blur(30px) brightness(100%) opacity(10%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.depicter-revert .depicter-3-section-1 .depicter-bg-video-container {
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-43 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-40 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-37 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-35 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-34 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-33 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-32 {
    opacity: 0.7;
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-31 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-30 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-28 {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-27 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-26 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-25 {
    opacity: 0.1;
    backdrop-filter: blur(30px) brightness(100%) opacity(10%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.depicter-revert .depicter-3-section-24 .depicter-bg-video-container {
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-66 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-63 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-60 {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50%;
}

.depicter-revert .depicter-3-element-58 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-57 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-56 {
    opacity: 1;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-55 {
    opacity: 0.7;
    background-color: #FFFFFF;
}

.depicter-revert .depicter-3-element-54 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-53 {
    opacity: 0.7;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-51 {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-50 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-49 {
    font-size: 90px;
    color: #FFFFFF;
    font-family: "Ubuntu";
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
    background-color: transparent;
}

.depicter-revert .depicter-3-element-48 {
    opacity: 0.1;
    backdrop-filter: blur(30px) brightness(100%) opacity(10%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, #FFFFFF 100%);
    border-radius: 10px;
}

.depicter-revert .depicter-3-section-47 .depicter-bg-video-container {
    background-color: #FFFFFF;
}

/***** Tablet *****/

@media screen and (max-width: 1024px) {
    .depicter-revert .depicter-3-element-17 {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .depicter-3-element-17 .depicter-timer-bar {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-72 {
        background-color: transparent;
    }
    .depicter-3-element-72 .depicter-arrow-icon {
        fill: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-11 {
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-19 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-18 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-9 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-8 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-6 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-5 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-4 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-section-1 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-43 {
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-34 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-33 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-31 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-30 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-28 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-27 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-26 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-section-24 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-66 {
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-57 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-56 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-54 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-53 {
        font-size: 14px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-51 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-50 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-49 {
        font-size: 80px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-section-47 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
}

/***** Mobile *****/

@media screen and (max-width: 767px) {
    .depicter-revert .depicter-3-element-17 {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .depicter-3-element-17 .depicter-timer-bar {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-72 {
        background-color: transparent;
    }
    .depicter-3-element-72 .depicter-arrow-icon {
        fill: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-18 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-10 {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-9 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-8 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-6 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-5 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-4 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-section-1 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-33 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-32 {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-31 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-30 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-28 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-27 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-26 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-section-24 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-56 {
        font-size: 16px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-55 {
        background-color: #FFFFFF;
    }
    .depicter-revert .depicter-3-element-54 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-53 {
        font-size: 12px;
        color: #FFFFFF;
        font-family: "Montserrat";
        font-weight: 400;
        line-height: 120%;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-51 {
        font-size: 20px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-element-50 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 700;
        line-height: 100%;
        text-transform: capitalize;
    }
    .depicter-revert .depicter-3-element-49 {
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Ubuntu";
        font-weight: 300;
        line-height: 100%;
        text-transform: capitalize;
        background-color: transparent;
    }
    .depicter-revert .depicter-3-section-47 .depicter-bg-video-container {
        background-color: #FFFFFF;
    }
}